body{
    margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.timer {
  circle{
    stroke-width: 3;
    stroke-dasharray: "565.48";
    stroke: green;
    fill: none;
    //stroke-dashoffset: (2*50*3.14);
    stroke-dashoffset: 50%;
  }
}



p {
  font-size: 50px;
  font-weight: bold;
}
